<html>
  <head>
    <script src="JS/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container" id="container">
      <h1 class="title">DrinkUI V0.1</h1>
        <div class="AJAXContent" id="AJAXContent">
          <button class="button-title main-bt-left" id="btn-right">Configure</button>
          <button class="button-title main-bt-right" id="btn-left">Dispense</button>
          <!-- Call AJAX loader for subpages and back from in AJAXContent-->
          <script src="JS/Loaders/home.js"></script>
        </div>
    </div>
  </body>
</html>
