<html>
  <head>
    <script src="JS/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container" id="container">
      <h1 class="title">DrinkUI V0.1</h1>
        <div class="AJAXContent" id="AJAXContent">
          <button class="button-title single-bt-top" id="btn-top"><marquee behavior="scroll" direction="left" scrollamount="20" >Tap to go back -------------------------------------------- Tap to go back -------------------------------------------- Tap to go back -------------------------------------------- </marquee></button>
          <div class="single-flexwrap">
          <div class=single-bt-1-div">
            <button class="button-title single-bt-1" id="btn-1">[Drink1]</button>
          </div>
          <div class=single-bt-2-div">
            <button class="button-title single-bt-2" id="btn-2">[Drink2]</button>
          </div>
          <div class=single-bt-3-div">
            <button class="button-title single-bt-3" id="btn-3">[Drink3]</button>
          </div>
          <div class=single-bt-4-div">
            <button class="button-title single-bt-4" id="btn-4">[Drink4]</button>
          </div>
          <div class=single-bt-5-div">
            <button class="button-title single-bt-5" id="btn-5">[Drink5]</button>
          </div>
          <div class=single-bt-6-div">
            <button class="button-title single-bt-6" id="btn-6">[Drink6]</button>
          </div>
          </div>
          <!-- Call AJAX loader for subpages and back from in AJAXContent-->
          <script src="JS/Loaders/dispense.js"></script>
        </div>
    </div>
  </body>
</html>
